<template name='task'>
  <div class='task ui-draggable'>
    <div class='editTaskControls row'>
      <div class="large-1 columns">
        <div class='left_button'></div>
      </div>
      <a class='taskTitle large-10 columns' data-reveal-id="modal{{_id}}"> {{title}}</a>
      <div id="modal{{_id}}" class='details_div reveal-modal' data-reveal aria-hidden="true" role="dialog">
        <div class="hover_container">
          <div class="hover_display_container show">
            <div class="row">
              <div class="large-12 columns">
                {{description}}
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <input class="task_id" name="task_id" type="hidden" value={{_id}}>
                <input class="task_title" name="task_title" type="hidden" value={{title}}>
                <input class="task_description" name="task_description" type="hidden" value={{description}}>
                <a href="#" class="button tiny display_toggle">Edit</a>
                <a href="#" class="button tiny delete_button">Delete</a>
              </div>
            </div>
          </div>
          <div class="hover_edit_container hidden">
            <div class="row">
              <div class="tiny-2 columns">
                <label for="title_input">Title:</label>
              </div>
              <div class="tiny-10 columns">
                <input class="title_input" type="text" name="title">
              </div>
            </div>
            <div class="row">
              <div class="tiny-2 columns">
                <label for="description_input">Description</label>
              </div>
              <div class="tiny-10 columns">
                <input class="description_input" type="text" name="description">
              </div>
            </div>
            <div class="row">
              <input class="task_id" name="task_id" type="hidden" value={{_id}}>
              <!-- <input class="task_title" name="task_title" type="hidden" value={{title}}>
              <input class="task_description" name="task_description" type="hidden" value={{description}}> -->
              <a href="#" class="button tiny update_button">Submit</a>
              <a href="#" class="button tiny cancel_button edit_toggle">Cancel</a>
            </div>
          </div>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
      </div>
      <div class='large-1 columns'>
        <div class='right_button'></div>
      </div>
    </div>
    <div class='taskInformation'>
      <div class='taskDescription'> Description </div>
      <div class='taskComments'> Comments </div>
    </div>
  </div>
</template>