<template name='task'>
  <div class='task'>
    <input class="task_id" name="task_id" type="hidden" value={{_id}}>
    <div class='editTaskControls'>
      <div class="large-1 columns">
        <div class='left_button'></div>
      </div>
      <a class='taskTitle large-9 columns' data-reveal-id="description_modal{{_id}}"> {{title}}</a>
      <div id="description_modal{{_id}}" class='details_div reveal-modal medium' data-reveal aria-hidden="true" role="dialog">
        <div class="description_container">
          <span>{{description}}</span>
        </div>
        <a class="close-reveal-modal close-edit-box" aria-label="Close">&#215;</a>
      </div>
      <div class="edit_delete_button_container">
        <input class="edit_button task_button" type="button" value="Edit" data-reveal-id="edit_modal{{_id}}">
        <div id="edit_modal{{_id}}" class='reveal-modal medium' data-reveal aria-hidden="true" role="dialog">
          <div class="row">
            <div class="tiny-2 columns">
              <label for="title_input">Title:</label>
            </div>
            <div class="tiny-10 columns">
              <input class="title_input" type="text" name="title" value={{title}}>
            </div>
          </div>
          <div class="row">
            <div class="tiny-2 columns">
              <label for="description_input">Description</label>
            </div>
            <div class="tiny-10 columns">
              <input class="description_input" type="text" name="description" value={{description}}>
            </div>
          </div>
          <div class="row">
            <div class="tiny-12 columns">
              <input class="task_id" name="task_id" type="hidden" value={{_id}}>
              <a href="#" class="button tiny update_button">Submit</a>
            </div>
          </div>
          <a class="close-reveal-modal close-edit-box" aria-label="Close">&#215;</a>
        </div>
        <input class="delete_button task_button" type="button" value="Delete">
      </div>
      <div class='large-2 columns'>
        <div class='right_button'></div>
      </div>
    </div>
  </div>
</template>