.wrapper{
	text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
	background-color:red;
}

.title{
	font-size:40px;
  font-weight: 800;
}

.addTaskButton{
	text-align:right;
}

.dashboardWrapper{
	display:inline-flex;
  overflow-y: scroll;
}

.todoWrapper{
	background-color:#CC0000;
  margin: 2px;
}

.todoHeader{
	font-size:30px;
}

.addOrDropTask{
	visibility: hidden;
}

.inProgressWrapper{
	background-color:#ffcc33;
  margin: 2px;
}

.taskInformation{
	visibility:hidden;
}

.inProgressHeader{
	font-size:30px;
}

.completeWrapper{
	background-color:#009933;
  margin: 2px;
}

.completeHeader{
	font-size:30px;
}

.left_button{
	background-image:url('http://www.isp.msu.edu/isp_common/images/arrow-small-left.png');
	background-repeat:no-repeat;
	width:15px;
	height:15px;
	background-color:transparent;
}
.right_button{

	background-image:url('http://www.isp.msu.edu/isp_common/images/arrow-small-right.png');
	background-repeat:no-repeat;
	width:15px;
	height:15px;
	background-color:transparent;

}

.editTaskControls{
	display:flex;
	align-items:center;
}

.taskContainer{
	/*width:300px;*/
	/*height:800px;*/
}

/*.todoBody {

  overflow-y: scroll;
}

.inProgressBody {

  overflow-y: scroll;
}

.completeBody {

  overflow-y: scroll;
}*/