<template name='navigation'>
	<div class='large-12 columns navContainer'>
		<ul class='nav-bar-list'>
			<li class='large-2 columns nav-bar-item'>Home</li>
			<li class='large-2 columns nav-bar-item'>About</li>
			<li class='large-2 columns nav-bar-item'>FAQ</li>
			<li class='large-2 columns nav-bar-item'>Contact</li>	
			<li class='large-2 columns nav-bar-item'>Menu
				<ul class='nav-menu-dropdown large-12 columns'>
					<li class='large-centered large-12 columns'>My Profile</li>
					<li class='large-centered large-12 columns'>Add a Task</li>
					<li class='large-centered large-12 columns'>Logout</li>
				</ul>
			</li>
		</ul>
	</div>
</template>
