<template name='navigation'>
	<div class='large-12 columns navContainer'>
	<ul class='nav-bar-items'>
		<li class='large-2 columns'>Home</li>
		<li class='large-2 columns'>About</li>
		<li class='large-2 columns'>FAQ</li>
		<li class='large-2 columns'>Contact</li>	
		<li class='large-2 columns'>Menu
			<ul class='nav-menu-dropdown large-12 columns'>
				<li class='large-centered large-12 columns'>My Profile</li>
				<li class='large-centered large-12 columns'>Add a Task</li>
				<li class='large-centered large-12 columns'>Logout</li>
			</ul>
		</li>
	</ul>
	</div>
</template>
