<template name='landing'>
{{> header}}
	<div class='landing'>
		<div class='row'>
			<div class='landing-logo large-12 columns'>
			Landing text
			</div>
		</div>
		<div class='row landing-row'>
			<div class='large-8 columns landing-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quas asperiores non quisquam alias tempore dolorum commodi nihil fuga veniam harum, sunt, debitis, ipsa architecto beatae molestias. Magnam nisi, qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum praesentium quidem doloribus hic consectetur debitis harum repellendus optio, quae tempore. Perspiciatis dolore vero praesentium odio asperiores numquam, officia dolor. Quis!
			</div>
			<div class='large-4 columns landing-registration'>
				<div class='row landing-signup-info'>
					<form class='registration'>
						<input class='landing-email' type='text' value='Email'>
						<input class='landing-username' type='text' value='username'>
						<input class='landing-password' type='password' value='password'>
						<Button class='landing-button'>Sign up now!</Button>
					</form>
				</div>
				<div class='landing-login'>
					<p><a href='#' data-reveal-id='loginModal'>Already have an account? Click here to sign in!</a>
					<div id='loginModal' class='reveal-modal' data-reveal aria-labelledby='modalTitle' aria-hidden='true' role='dialog'>
					  <form>
							<p>Username</p>
					  	<input type='text' value='Email'>
					  	<p>Password</p>
					  	<input type='password' value='Password'>
					  </form>
					  <a class='close-reveal-modal landing-login-modal' aria-label='Close'>&#215;</a>
					</div></p>
				</div>
			</div>
		</div>
	</div>
</template>