<template name='header'>
	<div class='row header-container'>
		<img src='https://cdn2.iconfinder.com/data/icons/humano2/128x128/apps/sticky-notes.png' class='header-img large-1 columns'>
		<div class='large-5 columns header-text'>Kanban</div>
		<div class='large-6 columns header-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veritatis, iure? Accusantium fugit ex repudiandae, exercitationem molestias inventore saepe illum natus, enim consequuntur dolores doloribus provident quo, cum, architecto ipsam.</div>
	</div>
</template>