
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}

@import url(http://fonts.googleapis.com/css?family=Questrial);
.fa-2x {
font-size: 2em;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


.wrapper{
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.header{
  background-color:white;
}

body{
  background-image:url('http://subtlepatterns.com/patterns/old_map.png');
}

.title{
  font-size:50px;
  font-weight: 800;
}

.create_button{
  text-align:right;
}

.dashboardLogin {

  margin: 5px auto;
}

.todoWrapper{
  margin: 2px;
  height: 600px;
}

.todoHeader{
  font-size:30px;
  font-weight: 600;
}

.addOrDropTask{
  visibility: hidden;
}

.inProgressWrapper{
  opacity: 1;
  border-left:1px solid black;
  margin: 2px;
  height: 600px;
}

.taskTitle {

  color: black;
}

.taskInformation{
  visibility:hidden;
}

.inProgressHeader{
  font-size:30px;
  font-weight: 600;
}

.completeWrapper{
  opacity: 1;

  border-left: 1px solid black;
  margin: 2px;
  height: 600px;
}

.completeHeader{
  font-size:30px;
  font-weight: 600;
}

.left_button{
  background-image:url('http://www.isp.msu.edu/isp_common/images/arrow-small-left.png');
  background-repeat:no-repeat;
  width:15px;
  height:15px;
  background-color:transparent;
}
.right_button{

  background-image:url('http://www.isp.msu.edu/isp_common/images/arrow-small-right.png');
  background-repeat:no-repeat;
  width:15px;
  height:15px;
  background-color:transparent;
  float: right;
}

.todoBody {

  font-size:12px;
}

.inProgressBody {

  font-size:12px;
}

.completeBody {

  font-size:12px;
}

.radioStatus{
  width:200px;
  margin:auto !important;
}

.addPhotoWrapper{
  width:25px;
  height:25px;
}

.accordion-navigation{
  background-image:url('http://png-5.findicons.com/files/icons/2356/bremen/16/plus.png');
  background-repeat:no-repeat;
}

.addTaskIcon{
  width:25px;
  height:25px;
  background:none !important;
  background-image:url('http://png-5.findicons.com/files/icons/2356/bremen/16/plus.png');
}

// .hover_edit_container.show {
//   display:block;
// }

// .hover_edit_container.hidden {
//   display:none;
// }

// .hover_display_container.show {
//   display:block;
// }

// .hover_display_container.hidden {
//   display:none;
// }

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.gu-mirror {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.curved{
  border-radius:25px !important;
}

.top-bar{
  background-image: url('http://subtlepatterns.com/patterns/symphony.png');
}

.top-bar-section .ul{
  background-image: url('http://subtlepatterns.com/patterns/symphony.png') !important;
}

.nav_bar_wrapper{
  border:1px solid black;
  height:50px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */

  a{
    color:#000;
  }
}

.nav-bar-list{
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.nav-bar-list li{
  color:#000;
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-bar-list li:hover{
  background-color: rgba(255,255,255,0.5);
}

.nav-bar-list li ul{
  padding: 0;
  position: absolute;
  top: 48px;
  left: -20px;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 100;
}

.nav-menu-dropdown{
  display: block;
  background-color: rgba(255,255,255,0.9);
  /*text-shadow: 0 -1px 0 #000;*/
}

.nav-menu-dropdown li{
  background-color:transparent;
}

.nav-menu-dropdown:hover{
  background-color:rgba(255,255,255,0.9);
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


.header-container{
  font-size:50px;

  .header-text{
    text-align:left;
    text-shadow: 3px 3px 3px #d3d3d3;
    vertical-align: center;
    font-size:50px;
    font-weight:800;
  }

  .header-description{
    font-size:13px;
    font-weight:400;
    text-align: left;
    font-family: 'Questrial', sans-serif;

  }

  .header-img{
    max-height:150px;
    max-width: 150px
  }

}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#000;
border-right:1px solid #e5e5e5;
position:absolute;
height:375px;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: right;
background: #e2e2e2;
width: 100%;
height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.header-wrapper{
  background-color:#fff;
}

.landing{
  background-image:url('https://drscdn.500px.org/photo/3013747/m%3D2048/dcf61a4236183167712ed4153c8a2a38');
  height:500px;
  color:#fff;
  background-size:100%;
  background-attachment: fixed;

  .landing-logo{
    font-weight:700;
    font-size:50px;
  }

  .landing-row{
    padding-top:50px;

    .landing-signup-info{
    }

    .landing-description{
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; /* future proofing */
      -khtml-border-radius: 10px; /* for old Konqueror browsers */
      background-color:rgba(0,0,0,0.4);
      font-weight:600;
    }

    .landing-signup-info{
      padding-left:20px;
    }

    .landing-button{
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; /* future proofing */
      -khtml-border-radius: 10px; /* for old Konqueror browsers */
      background-color: rgba(28,92,3,0.8) !important;
      color:rgba(255,255,255,0.7);
      font-weight:800;
    }

    .landing-button:hover{
      background-color:rgba(86,186,47,1) !important;
      color:rgba(255,255,255,1);
    }
  }
}
.taskContainer{
  overflow:auto;
  overflow-x:hidden;

  .taskBody{
    height:500px;

    .task{
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px; /* future proofing */
      -khtml-border-radius: 15px; /* for old Konqueror browsers */
      // background-color:orange;
      border:1px solid black;
      cursor:pointer;
      margin: 1px;
      background-image: url('images/blue-flat_lighter1.JPG');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      font-family: 'Questrial', sans-serif;

      .editTaskControls{
        display:flex;
        align-items:center;
        height: 60px;
      }
    }
  }
}

.taskTitle {

  font-size: 12px;
  font-weight: 300;
  color: black;
}

// .task_button {

//   margin: 2px;
//   width: 50px;
//   font-family: arial;
//   font-size: 10px;
//   color: white;
//   background-color: black;
// }

.edit_button {

  background-image: url('images/pencil43.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.delete_button {

  background-image: url('images/delete96.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.task_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  // background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  // background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  // background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  // background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  // background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  // background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  // background-color:#ffffff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:10px;
  font-weight:bold;
  padding:3px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin: 1px;
  background-color:white;
}
.task_button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #f6f6f6 25%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 25%, #ffffff 100%);
  background:-o-linear-gradient(top, #f6f6f6 25%, #ffffff 100%);
  background:-ms-linear-gradient(top, #f6f6f6 25%, #ffffff 100%);
  background:linear-gradient(to bottom, #f6f6f6 25%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  // background-color:#f6f6f6;
}
.task_button:active {
  position:relative;
  top:1px;
}

.edit_modal {

  font-family: 'Questrial', sans-serif;
  font-size: 12px;
}

.details_div {

  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 12px;
}

.description_container {

  width: 90%;
  font-size: 12px;
  text-align: left;
}

.dashboardWrapper{
  /*max-height: 400px;*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  display:inline-flex;
  /*overflow-y: scroll;*/
  background-image: url('images/sun-day-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}