<template name='dashboard'>
  <div class='wrapper'>
    <div class='row dashboardLogin'>
      <div>{{> loginButtons}}</div>
    </div>
    <hr>
    <div class='row headerWrapper'>
  	  <div class='header'>
        <div class='large-4 columns'>. </div>
  	  	<div class='title large-4 columns'>KANBAN</div>
  	  	<div class='addTaskWrapper  large-4 columns'>
			<ul class="accordion create_button" data-accordion>
			  <li class="accordion-navigation">
			    <a href="#panel1a" class='addTaskIcon'></a>
			    <div id="panel1a" class="content">
			      <form>
			      	<input type='text' value='Task Title' class='row title_input large-12 columns large-centered'>
			      	<input type='text' value='Task Description' class='large-12 columns large-centered row description_input'>
			      	<button type='submit' class='submitButton'> Submit </button>
			      </form>
			    </div>
			  </li>
			</ul>
  		</div>
  	  </div>
  	</div>
    <hr>
    <div class="row">
  	  <div class='dashboardWrapper large-12 columns'>
  	  	<div class='todoWrapper large-4 columns'>
  		  	<div class='todoHeader'>To Do</div>
          <div class='taskContainer'>
  		  		<div class='todoBody taskBody'>
  		  			{{#each tasks_to_do}}
  		  				{{> task}}
  		  			{{/each}}
  		  		</div>
  	  		</div>
  	  	</div>
  	  	<div class='inProgressWrapper large-4 columns'>
  	 			<div class='taskContainer '>
  		  		<div class='inProgressHeader'>In Progress</div>
  		  		<div class='inProgressBody taskBody'>
              {{#each tasks_in_progress}}
                {{> task}}
              {{/each}}
  		  		</div>
  	  		</div>
  	  	</div>
  	  	<div class='completeWrapper large-4 columns'>
  		  	<div class='completeHeader'>Complete</div>
          <div class='taskContainer'>
  		  		<div class='completeBody taskBody'>
  		  			{{#each tasks_done}}
  		  				{{> task}}
  		  			{{/each}}
  		  		</div>
  		  	</div>
  	  	</div>
      </div>
    </div>
  </div>
</template>
